// Specific CSS for your home-page

body h1 {
    font-size: 55px;
}

body p {
    font-size: 18px;
}

.hero {
    height: 100vh;
    background: radial-gradient(29.25% 51.31% at 71.15% 56.95%, rgba(0, 0, 0, 0) 59.31%, rgba(0, 0, 0, 0.4) 100%), url(banner.png);
    background-size: cover;
}

.navbar {
    background: none;
    margin: 0 140px;
}

.container {
    margin: 0 140px;
    padding: 0 !important;
}

.hero h1 {
    font-size: 52px;
    font-weight: normal !important;
}

.hero-content {
    color: white;
    padding: 190px 0;
    max-width: 460px;
}

.hero-content p {
    opacity: 0.8;
}

.navbar-brand {
    color: white !important;
}

.period {
    color: #0BC2F7;
}

.nav-link {
    color: white !important;
    padding-left: 0px !important;
    padding-right: 30px !important;
    font-size: 14px !important;
}

.navbar {
    padding: 0.5rem 0rem !important;
}