// Import page-specific CSS files here.
@import "home";


.alt-navlink {
    color: #1B326C !important;
}

.alt-button {
    color: #0BBEF2 !important;
    font-weight: 700 !important;
}

.blogs-wrapper {
    margin-top: 115px;
}

.blog-capt {
    color: rgba(27, 50, 108, 0.5);
}

.blog-card {
    height: 470px;
    width: 367px;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 50px;
}

.blog-info {
    margin: 18px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 218px;
}

.blog-title {
    font-size: 22px;
    color:#1B326C;
    font-weight: 600;
}

.caption {
    font-size: 15px;
    font-weight: 600;
}

.author {
    display: flex;
    align-items: center;
}

.author-name {
    font-size: 12px;
    color: rgba(27, 50, 108, 0.4);
    margin-right: 6px;
}

.blog-author-avatar {
    width: 30px;
    margin-right: 20px;
    border-radius: 30px;
}

.author-info {
    display: flex;
}

.blog-image {
    height: 205px;
    width: 100%;
    border-radius: 8px 8px 0px 0px;
}

.blogs {
    margin-top: 60px;
}

.pagination-wrapper {
    display: flex;
    justify-content: center;
}

.next_page {
    color: #213757;
    padding: 12px 24px;
    border-style: none;
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(33, 55, 87, 0.1);
}

.next_page:hover {
    text-decoration: none;
    background-color: rgba(33, 55, 87, 0.2);
    color: #213757;
}

.previous_page {
    color: #213757;
    margin-left: 10px;
    margin-right: 10px;
    padding: 12px 24px;
    border-style: none;
    border-radius: 4px;
    background-color: rgba(33, 55, 87, 0.1);
}

.previous_page:hover {
    text-decoration: none;
    background-color: rgba(33, 55, 87, 0.2);
    color: #213757;
}

.page-number-wrapper {
    display: flex;
    justify-content: center;
}

.page-number {
    color: rgb(51, 51, 51);
    font-size: 14px;
    line-height: 20px;
    margin-right: 2px;
    text-align: center;
    margin-top: 20px;
}

.blog-link:hover {
    text-decoration: none;

}