<div class="hero">
  <div class="container">
    <div class="hero-content">
      <h1>Instant collaboration for remote teams</h1>
      <p>All in one place for your remote team to chat, collaborate, and track project progress</p>
    </div>
    <form action="" class="early-access">
      <input type="text" class="email-input no-select" placeholder="Email">
      <input type="submit" class= "submit-btn btn btn-primary" value="Get Early Access">
    </form>
  </div>
</div>
<section class="hub-for-teamwork">
  <div class="container teamwork-content">
    <div class="teamwork-text">
      <h1>Your hub for teamwork</h1>
      <p>Project discussions, important documents, free food announcements: they all live tidily together in Slack. Communication in Slack happens in channels, organised by project, topic, team or whatever makes sense for you".</p>
      <div class="learn">
        <a href="#">Learn more <%= image_tag 'link-arrow.png' %></a>
      </div>
    </div>
    <%= image_tag 'dashboard.png', class: "dashboard" %>
  </div>
</section>
