

.body {
  color: #fff;
}

.heading {
  margin-top: 0px;
  margin-bottom: 19px;
  font-family: Poppins, sans-serif;
  font-size: 66px;
  line-height: 73px;
  font-weight: 600;
}

.paragraph {
  margin-bottom: 54px;
  font-family: Roboto, sans-serif;
  font-size: 18px;
  line-height: 25.78px;
  font-weight: 300;
}

.container {
  display: block;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
}

.button {
  margin-right: 25px;
  padding: 17px 45px;
  border-radius: 75px;
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #261944;
  font-size: 14px;
  font-weight: 500;
}

.button-2 {
  margin-left: 8px;
  padding: 17px 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 75px;
  background-color: #261944;
  font-family: Roboto, sans-serif;
  font-size: 17px;
  font-weight: 500;
  background-clip: border-box;
}

.ghost-button {
  margin-right: 17px;
  padding: 17px 45px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  border-radius: 75px;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.div-block {
  position: static;
  max-width: 50%;
}

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.div-block-2 {
  min-width: 385px;
  margin-right: 80px;
  margin-bottom: 104px;
}

.image-2 {
  max-width: 100%;
}

.navbar {
  position: relative;
  border-bottom: 0px none #000;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#261944), to(#fff));
  background-image: linear-gradient(180deg, #261944, #fff);
}

.slider {
  height: auto !important;
  padding-top: 80px;
  padding-bottom: 79px;
  background-color: transparent !important;
  color: #fff;
}

.left-arrow {
  color: #0ab3e4;
}

.right-arrow {
  color: #0ab3e4;
}

.slide-nav {
  display: none;
}

.testimonial-card {
  width: 367px;
  height: auto;
  min-height: 0px;
  padding: 60px 40px 40px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 15px 48px 0 rgba(62, 81, 111, 0.15);
}

.section-2 {
  overflow: hidden;
  margin-top: 148px;
}

.paragraph-2 {
  color: rgba(27, 50, 108, 0.7);
}

.paragraph-2.testimonial-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}

.image-3 {
  margin-bottom: 30px;
  margin-left: -3px;
}

.paragraph-3 {
  color: rgba(27, 50, 108, 0.7);
}

.paragraph-3.author-name {
  margin-bottom: 0px;
  font-family: 'PT Sans', sans-serif;
  color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  font-weight: 700;
}

.paragraph-4 {
  margin-bottom: 0px;
  font-family: 'PT Sans', sans-serif;
  color: rgba(27, 50, 108, 0.7);
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 70px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-4 {
  margin-right: 16px;
  width: 56px;
  height: 56px;
}

.slide {
  width: 367px !important;
  margin-right: 30px !important;
}

.mask {
  overflow: visible !important;
}

@media screen and (max-width: 991px) {
  .div-block-2 {
    margin-right: 62px;
    margin-bottom: 68px;
  }
}

